
.carousel-item{
  height: 600px;  /* your desired height for this slide */
  /* background: url(/img/your-img.jpg) no-repeat center center; */
  background-size: cover;
  width: 100%;
}

.carousel-inner > .item {
  height: 400px;
}
/* body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}